h2{
}

.front-page-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    position: relative;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}